html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: $dark;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
  margin-bottom: 50px;
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

blockquote {
  color: #333;
  margin: 43px 0 45px;
  min-height: 40px;
  padding: 2px 20px 2px 37px;
  position: relative;
  vertical-align: middle;
  border: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  /* margin: 2.666rem 0; */
}

blockquote:before {
  bottom: 5px;
  content: " ";
  display: block;
  left: 0;
  position: absolute;
  top: 5px;
  width: 2px;
  background-color: $primary;
}

.block_wrapper {
  padding: 20px;
  border: 1px solid #00000008;
  margin-bottom: 30px;
  box-shadow: 0 0 20px 0px #cccccc85;
}

.p-10 {
  padding: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

iframe {
  border: 0;
}

a {
  color: $primary;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: $secondary;
  }
}

img {
  width: 100%;
  height: auto;
}

.input {
  width: 100%;
  padding: 10px 13px;
  font-size: 14;
  font-weight: 300;
  border: 1px solid #979797;
  border-radius: 5px;
}

/* remove arrows */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  padding: 2px 10px;
  cursor: pointer;
  background-color: $light;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;

  &:hover {
    background-color: $light-grey;
  }

  &.icon {
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }
}

a.button {
  border-radius: 5px;
  display: inline-block;
  color: white;

  &:hover {
    color: white;
  }
}

.subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}

.color {
  &-secondary {
    color: $secondary;
  }

  &-primary {
    color: $primary;
  }

  &-dark {
    color: $dark;
  }
}

.text {
  &-underline {
    text-decoration: underline;
  }

  &-center {
    text-align: center;
  }

}

.list-dots {
  li {
    position: relative;
    padding-left: 17px;
    margin-bottom: 5px;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 7px;
      height: 7px;
      background-color: $secondary;
      border-radius: 50%;
      content: "";
      transform: translateY(-50%);
    }
  }
}

.select {
  font-size: 14px;
  color: #565656;
  line-height: 1.2;
  padding: 5px 43px 5px 10px;
  border: 1px solid $primary;
  border-radius: 5px;
  background-color: transparent;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-image: url("#{$path}circle-arrow-bot.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 36px 20px;
  option {
  }
}

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;

  &-page {
    padding-bottom: 80px;
  }
}

.block {
  &-center {
    text-align: center;
  }
}

.load-more {
  margin-top: 36px;
  font-size: 20px;

  .button-primary {
    width: 210px;
  }

  &-projects {
    display: flex;
    justify-content: space-between;
    max-width: 63%;
    margin-left: auto;
  }
}

.text {
  &-block {
    display: block;
  }

  &-black {
    color: #565656;
  }

  &-bold {
    font-weight: 700;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form {
  &__search {
    display: flex;
    align-items: center;
  }
}

.input {
  &__search {
    height: 37px;
    margin-left: -6px;
    border-radius: 5px 0 0 5px;
  }
}

.button {
  &-primary {
    padding: 14px 20px;
    font-weight: 500;
    color: $light;
    background-color: $primary;

    &:hover {
      background-color: $primary-dark;
    }
  }

  &-secondary {
    padding: 14px 27px;
    font-weight: 500;
    color: $light;
    background-color: $secondary;

    &:hover {
      background-color: $secondary-dark;
    }
  }

  &__search {
    width: 50px;
    height: 37px;
    padding: 0;
    margin-left: -6px;
  }

  &__location {
    position: relative;
    padding-right: 27px;
    margin-left: 15px;
    color: #565656;

    &::before {
      position: absolute;
      top: 50%;
      right: 10px;
      width: 0;
      height: 0;
      content: "";
      border-color: #222 transparent transparent;
      border-style: solid;
      border-width: 5.5px 3.75px 0;
      transform: translateY(-50%);
    }
  }

  &-link {
    background-color: transparent;
    color: $primary;
    border-bottom: 1px solid $primary;
    border-radius: 0;
    padding: 0;

    &:hover {
      background-color: transparent;
      color: $secondary;
    }
  }

  &-text {
    padding: 0;
    width: auto;
    display: inline;

    &:hover {
      background-color: transparent;
    }
  }
}

.btn-menu-mobile {
  padding: 0;
  background-color: transparent !important;
}

.text {
  &-block {
    display: block;
  }

  &-black {
    color: #565656;
  }

  &-bold {
    font-weight: 700;
  }
}

.title {
  margin: 100px 0 60px;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  color: #231f20;
  text-align: center;
  text-transform: uppercase;

  &-link {
    position: relative;

    .link {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 20px;
      font-style: italic;
      font-weight: 700;
      text-align: center;
      text-decoration-line: underline;
      letter-spacing: -0.01em;
    }
  }
}

.location-text {
  font-size: 14px;
}

.banner {
  position: relative;
  background-image: url("#{$path}banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 588px;

  &__content {
    position: absolute;
    top: 35px;
    width: 100%;

    .container {
      position: relative;
      filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));

      &::before {
        position: absolute;
        right: 0;
        left: -62%;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
        content: "";
        background: #fff;
        box-shadow: 0 4px 25px rgb(0 0 0 / 25%);
      }
    }
  }

  &__inner {
    position: relative;
    max-width: 400px;
    padding: 28px 0 35px;
  }

  &__title {
    font-size: 59px;
    font-weight: 700;
    line-height: 120%;
    color: #231f20;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
  }

  &-button {
    font-size: 24px;
    font-weight: 700;
    padding: 10px 33px;
  }
}

.popular {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 29px;
  }

  &__title {
    margin-top: 55px;
  }

  &__card {
    overflow: hidden;
    border: 1px solid $secondary;
    border-radius: 15px;
    box-shadow: 0 4px 25px #00000040;
    max-width: 367px;
    width: 100%;

    &:nth-child(2n + 1) {
      border: 1px solid $primary;
      .popular__head {
        background-color: $primary;
      }
    }
  }

  &__head {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: $secondary;

    &-link {
      display: block;
      padding: 26px 0;
      color: $light;

      &:hover {
        color: #ffffffbf;
      }
    }
  }

  &__list {
    padding: 30px 40px;
  }

  &__item {
    position: relative;
    padding-left: 23px;
    margin-bottom: 12px;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 13px;
      height: 13px;
      background-color: $secondary;
      border-radius: 50%;
      content: "";
      transform: translateY(-50%);
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    color: $dark;
  }
}

.advantages {
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 31px;
  }

  &__item {
    max-width: 208px;
    text-align: center;

    &:nth-child(2n + 1) {
      .advantages__title {
        color: $primary;
      }
    }
  }

  &__img {
    max-width: 106px;
  }

  &__title {
    margin: 10px 0 5px;
    font-weight: 700;
    color: $secondary;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 1.2;
  }
}

.hits {
  &__title {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

.rating {
  padding: 0;
  margin: 0 0 5px;
  border: none;

  &__group {
    position: relative;
    width: 90px;
    height: 18px;
    background-image: url("#{$path}star-off.svg");
    background-repeat: repeat-x;
    background-size: 18px auto;
  }

  &__star {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 18px;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 18px auto;
    background-repeat: repeat-x;
    transition: all 0.3s;
  }

  &__star:nth-of-type(1) {
    z-index: 5;
    width: 18px;
  }

  &__star:nth-of-type(2) {
    z-index: 4;
    width: 36px;
  }

  &__star:nth-of-type(3) {
    z-index: 3;
    width: 54px;
  }
  &__star:nth-of-type(4) {
    z-index: 2;
    width: 72px;
  }

  &__star:nth-of-type(5) {
    z-index: 1;
    width: 90px;
  }

  &__star:hover,
  &__star:checked {
    background-image: url("#{$path}star-on.svg");
  }
}

.product__rating-big {
  .rating {
    &__group {
      position: relative;
      width: 150px;
      height: 35px;
      background-repeat: repeat-x;
      background-size: 30px auto;
    }

    &__star {
      height: 35px;
      background-size: 30px auto;
    }

    &__star:nth-of-type(1) {
      z-index: 5;
      width: 30px;
    }

    &__star:nth-of-type(2) {
      z-index: 4;
      width: 60px;
    }

    &__star:nth-of-type(3) {
      z-index: 3;
      width: 90px;
    }
    &__star:nth-of-type(4) {
      z-index: 2;
      width: 120px;
    }

    &__star:nth-of-type(5) {
      z-index: 1;
      width: 150px;
    }
  }
}

.compare {
  &-btn {
    position: relative;

    &.active::before {
      position: absolute;
      right: 0;
      bottom: 6px;
      width: 19px;
      height: 19px;
      content: "";
      background-color: #4caf50;
      background-image: url("#{$path}check.svg");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
    }
  }
}

.fovorites {
  &__button {
    width: 36px;
    height: 36px;
  }
}

.availability {
  position: relative;
  padding-left: 19px;
  font-weight: 500;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 12px;
    height: 12px;
    content: "";
    background-color: $primary;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.products {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 36px;
  }
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 263px;
  padding: 7px 14px 20px;
  background: $light;
  border: 1px solid #f3520b;
  border-radius: 5px;
  box-shadow: 0 4px 25px #00000040;

  &.product-new {
    .product__img-link {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        width: 63px;
        height: 63px;
        content: "";
        background-image: url("#{$path}product-new.svg");
      }
    }
  }

  .favorites {
    position: absolute;
    z-index: 2;
  }

  &__compare {
    img {
      width: 39px;
    }
  }

  &__img {
    &-link {
      display: block;
    }
  }

  &__rating-card {
    display: flex;
    justify-content: center;

    .rating__star {
      pointer-events: none;
    }
  }

  &__title {
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;

    &-link {
      color: $dark;
      transition: none;
    }
  }

  &__params {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
  }

  &__param {
    font-size: 12px;
    line-height: 1.2;
  }

  &__cols {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    &-availability {
      height: 100%;
      align-items: flex-end;
    }

    &-buttons {
      flex-direction: column;
      button {
        justify-content: center;
      }
    }
  }

  &__price {
    font-size: 30px;
    font-weight: 700;
    color: $secondary;

    &-cur {
      font-size: 14px;
    }
  }

  &__count {
    position: relative;
    max-width: 83px;

    &-input {
      padding-right: 30px;
      font-weight: 500;
      border: 1px solid #7e7e7e;
      border-radius: 5px;
    }
  }

  &__calc {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    display: flex;
    flex-direction: column;
    width: 21px;
    background: #00000040;
    border-radius: 5px;

    button {
      position: relative;
      height: 100%;
      padding: 0;
      font-size: 0;
      background-color: transparent;

      &:hover {
        background-color: #00000020;
      }
    }

    &-plus {
      border-radius: 5px 5px 0 0;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        content: "";
        border-color: transparent transparent $dark transparent;
        border-style: solid;
        border-width: 0 5px 8px;
        transform: translate(-50%, -50%);
      }
    }

    &-minus {
      border-radius: 0 0 5px 5px;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        content: "";
        border-color: $dark transparent transparent transparent;
        border-style: solid;
        border-width: 8px 5px 0;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__button {
    width: 100%;
    height: 41px;
    padding: 10px 6px;
    font-size: 14px;
    font-weight: 400;
  }

  &-colors {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 25px;
  }

  &-color {
    font-size: 13px;
    background-color: transparent !important;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .color {
      display: block;
      width: 40px;
      height: 40px;
      transition: all 0.3s;

      &-white {
        border: 2px solid #000;
      }
    }

    &:hover,
    &.active {
      .color {
        // transform: scale(1.2);
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.partners {
  &__img {
    max-width: 84px;
    margin: 0 auto;
  }

  &__title {
    margin-top: 80px;
  }
}

.slick {
  &-arrow {
    position: absolute;
    top: 50%;
    left: -55px;
    z-index: 2;
    font-size: 0;
    transform: translateY(-50%);
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }

    &::before {
      width: 0;
      height: 0;
      content: "";
      border-color: transparent #2f9f06 transparent transparent;
      border-style: solid;
      border-width: 25px 28px 25px 0;
    }
  }

  &-next {
    right: -55px;
    left: auto;

    &::before {
      border-color: transparent transparent transparent #2f9f06;
      border-width: 25px 0 25px 28px;
    }
  }
}

.news {
  &-index {
    padding-bottom: 148px;
  }

  .news-title {
    margin-top: 93px;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  &__card {
    max-width: 370px;
    padding: 20px;
    border: 1px solid $primary;
    border-radius: 15px;
    box-shadow: 0 4px 25px #00000040;
  }

  &__img {
    margin-bottom: 5px;
    border-radius: 15px 15px 0;
  }

  &__date {
    justify-content: center;
    color: #7e7e7e;

    .icon {
      max-width: 19px;
    }
  }

  &__title {
    margin: 7px 0;
    text-align: center;
  }

  &__link {
    font-size: 18px;
    font-weight: 500;
    color: $dark;
    text-transform: uppercase;
    line-height: 1.2;
  }

  &__detail {
    font-weight: 500;
    text-decoration-line: underline;
  }

  &__content {
    display: flex;
    gap: 20px;
  }

  &__images {
    max-width: 400px;
    width: 100%;
  }

}

.footer {
  padding: 15px 0 80px;
  color: $light;
  background-color: $primary;

  &__top {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .icon {
    max-width: 24px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 700;

    &-title {
      margin-bottom: 8px;
      font-size: 19px;
    }

    &-link {
      font-size: 14px;
      color: $light;
      text-transform: uppercase;
    }
  }

  &__adress-item {
    margin-bottom: 10px;
    font-size: 18px;
  }

  &__phones {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 190px;

    button {
      width: 100%;
    }
  }

  &__phone {
    font-size: 23px;
    font-weight: 700;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 400px;
    }
  }

  &__link {
    color: $light;
  }
}

.socials {
  display: flex;
  gap: 20px;
}

.social {
  &__img {
    max-width: 40px;
  }
}

.fade {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  background: #00000040;
}

.breadcrumbs {
  padding-top: 28px;
  padding-bottom: 20px;

  &__link {
    color: $secondary;

    &:last-child {
      pointer-events: none;
      color: $dark;
    }
  }

  &__separator {
    color: $secondary;
  }
}

.catalog {
  padding-bottom: 90px;

  &__title {
    margin: 30px 0 20px;
    color: #231f20;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: initial;
    text-align: start;
  }

  &-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 34px;

    &__link {
      padding: 13px 14px;
      background-color: #e1ebf1;
      border-radius: 15px;
      font-size: 15px;
      color: $dark;
      letter-spacing: 0.3px;

      &:hover,
      &.active {
        background-color: $primary;
        color: $light;
      }


      &:nth-child(n+6) {
        display: none;
      }

    }

    &.active .catalog-sections__link:nth-child(n+6) {
      display: block;
    }

    &__button {
      display: flex;
      align-items: flex-end;
      margin-left: 10px;
      border-bottom: 1px solid;
      border-radius: 0;
      padding: 0;

      &:hover {
        color: $primary;
      }
    }

  }

  &__cols {
    display: flex;
    gap: 30px;

    .products__list {
      gap: 35px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 270px;
    max-width: 270px;
    gap: 20px;

    &-row {
      .menu__link-catalog {
        pointer-events: none;
      }
    }
  }

  &-menu {
    .submenu-box {
      position: static;
      display: block;
      width: 100%;
      max-height: none;
      overflow: auto;
      padding-top: 0;
      margin-top: -5px;
    }

    .submenu {
      padding: 23px 13px 20px;
      border: 0;
    }

    .menu__item {
      flex: 1;
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
      border-radius: 5px 5px 0 0;

      &-catalog {
        border: 1px solid #f3520b40;
      }
    }

    .menu__link {
      width: 100%;

      &-catalog {
        display: flex;
        align-items: center;
        height: 60px;
        padding-left: 88px;
        border-radius: 4px 4px 5px 5px;
        text-transform: uppercase;
        font-weight: 700;
        background-size: 16%;
      }

      &-filter {
        background-image: url("#{$path}filter.svg");
        background-color: $primary;
        pointer-events: none;
      }
    }

    &.filter {
      .submenu {
        padding-bottom: 5px;

        &__list {
          padding-left: 16px;
          padding-right: 7px;
          padding-top: 10px;
        }

        &__item {
          border-radius: 5px;
          margin-bottom: 10px;
          border: 1px solid $primary;
        }
      }

      .filter__button-text {
        font-weight: 400;
        color: #565656;
        font-size: 15px;
      }

      .submenu-btn {
        width: 100%;
        padding-left: 16px;
        padding-right: 7px;
        height: 40px;
        margin: 0;
      }
    }
  }

  &-sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    &-left {
      display: flex;
      align-items: center;
    }

    &__col {
      .select {
        position: relative;
        z-index: 1;
      }
    }
  }

  &__right {
    width: 100%;
  }

  &-grid {
    height: 35px;
  }

  &-detail {
    &__top {
      display: flex;
      align-items: center;
      gap: 50px;

      .product__vendor {
        font-size: 20px;
      }
    }

    &__center {
      display: flex;
      justify-content: space-between;
      margin-bottom: 70px;

      .col__left {
        max-width: 470px;
        width: 100%;
      }

      .col__right {
        gap: 20px;
        display: flex;
        flex-direction: column;
      }

      .product__params {
        grid-template-columns: 1fr;
        margin-bottom: 0;
      }

      .product__param {
        margin-bottom: 5px;
        font-size: 18px;

        .text-bold {
          color: $secondary;
        }
      }
    }
  }
}

.button-hide {
  color: $primary;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 400;
}

.select-counts {
  margin-right: 17px;
}

.left-filter-container {
  padding: 0 13px 20px;
}

.check {
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px !important;
  margin: 0;
  height: 18px;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 18px auto;
  background-repeat: repeat-x;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;

  &-label {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__text {
    padding-left: 35px;
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    background-color: $secondary;
    border-radius: 50%;
    display: none;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    border: 1px solid $secondary;
    border-radius: 50%;
  }

  &:checked::after {
    display: block;
  }
}

.grid-icon {
  width: 35px;
  height: 35px;
}

.grid-full {
  flex-direction: column;

  gap: 15px !important;
  .product {
    display: grid;
    max-width: none;
    grid-template-columns: 120px 240px 1fr 1fr 120px;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 65px;
    font-size: 14px;
    line-height: 1.2;

    &__title {
      font-size: 16px;
      line-height: 1.2;
      text-align: start;
      margin-bottom: 15px;
    }

    &__price {
      font-size: 16px;
    }

    &__cols {
      flex-direction: column;
    }

    &__rating {
      position: absolute;
      left: 142px;
      bottom: 10px;

      .rating {
        margin-bottom: 0;
      }
    }

    .availability {
      position: absolute;
      left: 249px;
      bottom: 10px;
    }

    .product__button {
      justify-content: center;
    }

    .product__compare {
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .product__params {
      display: none;
    }

    .favorites {
      right: 10px;
      top: 60px;
      width: 39px;
    }

    &__vendor {
      position: absolute;
      left: 0;
      bottom: 10px;
      left: 380px;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 9px;

  &__arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14.5px 16px 14.5px 0;
    border-color: transparent #2f9f06 transparent transparent;
    font-size: 0;

    &-next {
      border-width: 14.5px 0 14.5px 16px;
      border-color: transparent transparent transparent #2f9f06;
    }
  }

  &__link {
    color: #565656;
    font-size: 24px;

    &.active {
      color: #3974b6;
      text-decoration: underline;
      font-weight: 700;
      font-size: 30px;
      pointer-events: none;
    }
  }
}

.slider-default .slick-list {
  margin: 0 -20px;
  padding: 40px 0;
}
.slider-default .slick-slide {
  padding: 0 20px;
}

.tabs {
  &__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__btn {
    padding: 10px 0;
    display: block;
    width: 100%;
    border: 1px solid $secondary;
    border-radius: 0;
    color: #565656;

    &.active,
    &:hover {
      color: $light;
      background-color: $secondary;
    }

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }
  }
}

.container-hide {
  display: none;
}

.title-params {
  font-size: 24px;
  font-weight: 700;
  color: $primary;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.price__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 80%;
}

.price-item {
  // flex: 0 0 15%;
  // max-width: 15%;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

.personal {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  &__card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid $primary;
  }

  &__name {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: $primary;
  }

  &__work {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}

.mini-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.contacts {
  &__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
}
