// ==== PATH ==== //
$path: "../images/";
$path-fonts: "../fonts/";

// ==== END PATH ==== //

// ==== COLORS ==== //
$light: #fff;
$dark: #000;
$primary: #3974B6;
$primary-dark: #2F6097;
$secondary: #F3520B;
$secondary-dark: #BE430D;
$grey: #ccc;
$light-grey: #efefef;
